[package]
name = "soa_derive_internal"
version = "0.4.1"
authors = ["Guillaume Fraux <guillaume.fraux@chimie-paristech.fr>"]
license = "MIT/Apache-2.0"
readme = "../README.md"
repository = "https://github.com/lumol-org/soa-derive"
homepage = "https://github.com/lumol-org/soa-derive"
documentation = "https://docs.rs/soa_derive/"
description = """
Internal crate implementation for soa-derive
"""

[lib]
proc-macro = true

[dependencies]
syn = "0.10"
quote = "0.3"
case = "0.1"
